name: blue-build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore keys from Secrets
        env:
          CONSIGN_PRIVATE: ${{ secrets.CONSIGN_PRIVATE }}
          CONSIGN_PUBLIC: ${{ secrets.CONSIGN_PUBLIC }}
        run: |
          printf '%s\n' "$CONSIGN_PRIVATE" > ./consign
          printf '%s\n' "$CONSIGN_PUBLIC"  > ./consign.pub

          sed -i 's/\r$//' ./consign ./consign.pub || true

          chmod 600 ./consign
          chmod 644 ./consign.pub

          ssh-keygen -lf ./consign.pub

      - name: Run blue-build
        run: |
          ls -la
          blue-build build recipe.yml
