name: Build BlueBuild Image

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Consign
        run: |
          curl -fsSL https://github.com/containers/consign/releases/download/v0.5.2/consign-linux-amd64 -o consign
          chmod +x consign

      - name: Generate keys if missing
        run: |
          if [ ! -f consign ] || [ ! -f consign.pub ]; then
            echo "Generating new consign keys..."
            ./consign new-key
          else
            echo "Consign keys already exist."
          fi

      - name: BlueBuild - Install
        run: |
          curl -fsSL https://raw.githubusercontent.com/blue-build/bb/main/install.sh | bash

      - name: Build Image
        run: |
          bb build recipe.yml
